.main {
    background-color: lightslategray;
    max-width: 100%;
    height: 100vh;
}

.h2 {
    color: wheat;
    background-color: lightslategray;
}

.Title {
    background-color:gray;
    color: white;
    width: 100%;
    text-align: center;
}

.Divisor {
    background-color:transparent;
    width: 100%;
    height: 20px;
}

.Center
{
    text-align: center;
}

.images
{
  text-align: center;
}

img {
  opacity: 0.5;
  border-radius: 20px;
}

.LinesTitle
{
  position: absolute;
  top: 20px; 
  left: 20px; 
  color: white; 
  font-size: 24px;
}

.LinesTitleProduct
{
  background-color:transparent;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: large;
}

.CenterDescriptionPart
{
  background-color: transparent;
  width: 100%;
  text-align: center;
}

.destacados {
    background-color: lightslategray;
}